@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
     -moz-transition-delay: $transition-delay;
      -ms-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}

@mixin transition-property($tprop) {
  -webkit-transition-property: $tprop;
     -moz-transition-property: $tprop;
      -ms-transition-property: $tprop;
          transition-property: $tprop;
}

@mixin transition-timing-function($trantime) {
  -webkit-transition-timing-function: $trantime;
     -moz-transition-timing-function: $trantime;
      -ms-transition-timing-function: $trantime;
          transition-timing-function: $trantime;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin column-count($columns) {
  -webkit-column-count: $columns; 
	 -moz-column-count: $columns;
          column-count: $columns;
}

@mixin column-gap($column-gap) {
  -webkit-column-gap: $column-gap;
     -moz-column-gap: $column-gap;
          column-gap: $column-gap;
}

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
      -ms-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
      -ms-animation: $animation;
          animation: $animation;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
      -ms-animation-duration: $duration;
          animation-duration: $duration;
}

@mixin animation-delay($a-delay) {
  -webkit-animation-delay: $a-delay;
     -moz-animation-delay: $a-delay;
      -ms-animation-delay: $a-delay;
          animation-delay: $a-delay;
}

@mixin animation-fill-mode($fill) {
  -webkit-animation-fill-mode: $fill;
     -moz-animation-fill-mode: $fill;
      -ms-animation-fill-mode: $fill;
          animation-fill-mode: $fill;
}