/* -- Type Sizes -- */
$eighty: 5em; /* 80px */
$seventy-two: 4.5em; /* 72px */
$sixty: 3.750em; /* 60px */
$fifty: 3.125em; /* 50px */
$fourty-two: 2.625em; /* 42px */
$thirty-six: 2.250px; /* 36px */
$thirty: 1.875; /* 30px */
$twenty-eight: 1.750em; /* 28px */
$twenty-four: 1.5em; /* 24px */
$twenty-one: 1.313em; /* 21px */
$eighteen: 1.125em; /* 18px */
$sixteen: 1em;  /* 16px */
$fourteen: 0.875em;  /* 14px */
$twelve: 0.750em; /* 12px */

/* -- Favorite Grayscale Colors -- */
$black: #1e1e1e;